<%= render 'shared/header' %>
<%= render 'shared/messages' %>
<%= render 'shared/errors', obj: @service %>
<div class="container">
  <h1>Leistung bearbeiten</h1>
  <%= form_for(@service, :html => {class: "form", role: "form"}) do |f| %>
   <div class="form-group">
     <div class="control-label">
      <%= f.label :name %>           
     </div>
      <%= f.text_field :name, class: "form-control", placeholder: "Branche", autofocus: true %>
   </div>  
   <div class="form-group">
     <div class="control-label">
      <%= f.label :category %>           
     </div>
      <%= f.radio_button :category, 'Gartenarbeit' %> Gartenarbeit
      <%= f.radio_button :category, "Außen am Haus" %> Außen am Haus
      <%= f.radio_button :category, "Haus und Wohnung" %> Haus und Wohnung
      <%= f.radio_button :category, "Bodenbeläge" %> Bodenbeläge
   </div>
     <div class="checkbox">
        <label><%= f.check_box :show %>Anzeigen</label>           
     </div>  
   <div class="form-group">
     <%= f.submit class: 'btn btn-primary' %>
     <%= link_to "Zurück", :back, class: "btn btn-default" %>
  </div>
  <% end %> 
</div>