<%= render 'shared/header' %>
<%= render 'shared/messages' %>
<%= render 'shared/errors', obj: @service %>
<div class="container">
  <h1>Leistung bearbeiten</h1>
  <%= form_for(@service, :html => {class: "form", role: "form"}) do |f| %>
   <div class="form-group">
     <div class="control-label">
      <%= f.label :name %>           
     </div>
      <%= f.text_field :name, class: "form-control", placeholder: "Branche", autofocus: true %>
   </div>  
    <div class="form-group">
        <label class="control-label">Kategorie</label>
        <%= f.select :service_category_id, options_for_select(Service_Category.all.map{|i| [i.name, i.id]}, selected: f.object.service_category_id), { }, { class: "form-control" } %>  
      </div>
      <div class="form-group">
        <label class="control-label">Unter-Kategorie</label>
        <%= f.select :service_subcategory_id, options_for_select(Service_Subcategory.all.map{|i| [i.name, i.id]}, selected: f.object.service_subcategory_id), { }, { class: "form-control" } %>  
      </div>
      <div class="form-group">
        <label class="control-label">Bereich</label>
        <%= f.select :service_subject_id, options_for_select(Service_Subject.all.map{|i| [i.name, i.id]}, selected: f.object.service_subject_id), { }, { class: "form-control" } %>  
      </div>
   <div class="checkbox">
      <label><%= f.check_box :show %>Anzeigen</label>           
   </div>  
   <div class="form-group">
     <%= f.submit class: 'btn btn-primary' %>
     <%= link_to "Zurück", :back, class: "btn btn-default" %>
  </div>
  <% end %> 
</div>