<% if @plz %>
  <div class="infoContainer">
    <H5 class="Info1">Infrage kommende Betriebe (<%= @users.count %>)</h5>
    <a onclick="wasEinzeln()" class="Info2">Was ist das?</a>
  </div>
<% end %>
<% if @users.count > 0 then %>
  <% @users.each do |u| %>
    <div class="SoloContainer">
      <div class="HandwerkerInner">
        <%= render 'svg/logo-placeholder', obj: u, cls: "HWimg" %>
        <div class ="info">
            <div class ="InfoOben">
                <!--Reviews dienen als Platzhalter bis ein Modell besteht // Leistungen die auf Betrieb und Suche zutreffen-->
              <h6 class="Leistung"><%= Field.find(u.field_id).name %></h6>
              <% if u.unavailable(@selected_services).count > 0 then %><h6 class="Leistung" style="color: #ff7272"><% u.unavailable(@selected_services).each do |s| %><%= Service.find(s).name %><% end %></h6><% end %>
            </div>
            <!--Name Betrieb-->
            <h3 class="HWName"><%= u.name %></h3>
            <div class="InfoBottom">
              <% if u.personalizations.any? %>
                <% case u.personalizations.first.first_entry_a %>
                  <% when 'phone' %>
                    <%= link_to "#{u.telefon}", "tel:#{u.telefon}", class: "phone" %>
                  <% when 'email' %>
                    <%= link_to "#{u.email}", "mailto:#{u.email}", class: "mail" %>
                <% end %>
              <% else %>
                <%= link_to "#{u.telefon}", "tel:#{u.telefon}", class: "phone" %>
              <% end %>
              <%= link_to "#{u.plz}, #{truncate(u.stadt, :length => 15)}", "https://maps.google.com/?q=#{u.adresse + ' ' + u.stadt}", class: "home", target: "_blank" %> 
            </div>
          </div>
        <div class="hw-links">
          <% if u.personalizations.any? %>
                <% case u.personalizations.first.main_entry_a %>
                  <% when 'website' %>
                    <%= link_to image_tag("world64.png", :alt => "Website", :class => "World"), "http://#{u.url}", class: "Website", target: "_blank" %>
                  <% when 'email' %>
                    <%= link_to image_tag("envelope64.png", :alt => "Email", :class => "World"), "mailto:#{u.email}", class: "Website" %>
                  <% end %>
                <% else %>
                    <%= link_to image_tag("world64.png", :alt => "Website", :class => "World"), "http://#{u.url}", class: "Website", target: "_blank" %>
                <% end %>
          <div class="checkcontainer">
                <!--Check Betrieb-->
                <label class="check_container1">
                  <input name="inquiery[user_ids][]" type="checkbox" value="<%= u.id %>">
                  <span class="checkmark1"></span>
                </label>
            </div>
        </div>
      </div>
    </div>
  <% end %>
<% elsif @selected_services && @users.count == 0 %>
  <%= render 'alarm' %>
<% end %>