<div class="o-page__card">
  <div class="c-card u-mb-xsmall">
      <header class="c-card__header u-pt-large">
          <a class="c-card__icon" href="#!">
              <%= image_tag 'logo.png', alt: "Betriebsfoto" %>
          </a>
          <h1 class="u-h3 u-text-center u-mb-zero">Willkommen Zurück</h1>
      </header>
      <%= form_for(:session, :html => {class: "c-card__body"}, url: login_path) do |f| %>
          <div class="c-field u-mb-small">
              <label class="c-field__label" for="input1">Melden Sie Sich mit Ihrer Email an</label>
              <%= f.email_field :email, class: "c-input", placeholder: "Email", autofocus: true %>
          </div>

          <div class="c-field u-mb-small">
              <label class="c-field__label" for="input2">Passwort</label> 
              <%= f.password_field :password, class: "c-input", placeholder: "Passwort" %> 
          </div>
          <%= f.submit "Anmelden", class: "c-btn c-btn--info c-btn--fullwidth" %>

      <% end %>
  </div>

  <div class="o-line">
      <a class="u-text-mute u-text-small" href="/signup">Neu? Konto erstellen</a>
      <a class="u-text-mute u-text-small" href="/passwort-vergessen">Passwort vergessen?</a>
  </div>
</div>