<%= render 'shared/header' %>
<div class ="container-fluid">
  <%= render 'shared/messages' %>
  <%= render 'shared/errors', obj: @service %>
  <%= render 'shared/errors', obj: @field %>
  <%= render 'shared/errors', obj: @admin %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Nutzer <%= link_to "Neues Konto eröffnen", signup_path, class: "pull-right" %></h3>
    </div>
      <table class="table table-hover">
        <thead>
          <th>#</th>
          <th>Betriebsname</th>
          <th>Branche</th>
          <th>Inhaber</th>
          <th>Email-Adresse</th>
          <th>Domain</th>
          <th>Telefon</th>
          <th>Adresse</th>
        </thead>
        <tbody>
          <% @users.each do |t| %>
            <tr class='clickable-row <%= "warning" if !t.bulletproof %>' data-href='/users/<%= t.id %>/edit'>
              <th><%= t.id %></th>
              <td class="col-md-2"><%= link_to t.name, edit_user_path(t) %></td>
              <td class="col-md-1">
                <%= Field.find("#{t.field_id}").name if t.field_id != 0 %>
              </td>
              <td class="col-md-2"><%= t.inhaber %></td>
              <td class="col-md-2"><%= t.email %></td>
              <td class="col-md-2"><%= link_to "#{t.url}", "http://#{t.url}" %></td>
              <td class="col-md-1"><%= t.telefon %></td>
              <td class="col-md-2"><%= t.adresse %>, <%= t.plz %> <%= t.stadt %></td>
            </tr>
          <% end %>
        </tbody>  
      </table>
  </div>
</div>  
<div class="col-md-4 parnel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "Branchen", fields_path %></h3>    
    </div>
    <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Branche</th>
        <th class="col-md-1">Löschen</th>
      </thead>
      <tbody>
        <% @fields.each do |t| %>
          <tr class='clickable-row' data-href='/fields/<%= t.id %>/edit'>
            <th><%= t.id %></th>
            <td><%= t.name %></td>
            <td class="col-md-1 center"><%= link_to 'x', field_path(t), method: :delete, data: {confirm: "Sicher?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="panel-body">
      <%= form_for(@field, :html => {class: "form-inline", role: "form"}, url: fields_url) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Neue Branche", autofocus: true %>
        </div>
        <div class="form-group">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to "Leistungen", services_path %></h3>
    </div>
    <table class="table table-hover">
      <thead>
        <th>#</th>
        <th>Leistung</th>
        <th>Kategorie</th>
        <th>Unter-Kategorie</th>
        <th>Bereich</th>
        <th class="col-md-1">Löschen</th>
      </thead>
      <tbody>
        <% @services.each do |t| %>
          <tr class='clickable-row <%= "active" if !t.show %>' data-href='/services/<%= t.id %>/edit'>
            <th><%= t.id %></th>
            <td><%= t.name %></td>
            <td><%= Service_Category.find(t.service_category_id).name if t.service_category_id %></td>
            <td><%= Service_Subcategory.find(t.service_subcategory_id).name if t.service_subcategory_id %></td>
            <td><%= Service_Subject.find(t.service_subject_id).name if t.service_subject_id %></td>
            <td class="col-md-1 center"><%= link_to 'x', service_path(t), method: :delete, data: {confirm: "Sicher?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Neue Leistung erstellen</h3></div>
  <div class="panel-body">
    <%= form_for(@service, :html => {class: "form", role: "form"}, url: services_url) do |f| %>
      <div class="form-group">
        <div class="control-label">
          <%= f.label :name %>           
        </div>
        <%= f.text_field :name, class: "form-control", placeholder: "Leistung", autofocus: true %>
      </div>  
      <div class="form-group">
        <label class="control-label">Kategorie</label>
        <%= f.select :service_category_id, options_for_select(Service_Category.all.map{|i| [i.name, i.id]}, selected: f.object.service_category_id), { }, { class: "form-control" } %>  
      </div>
      <div class="form-group">
        <label class="control-label">Unter-Kategorie</label>
        <%= f.select :service_subcategory_id, options_for_select(Service_Subcategory.all.map{|i| [i.name, i.id]}, selected: f.object.service_subcategory_id), { }, { class: "form-control" } %>  
      </div>
      <div class="form-group">
        <label class="control-label">Bereich</label>
        <%= f.select :service_subject_id, options_for_select(Service_Subject.all.map{|i| [i.name, i.id]}, selected: f.object.service_subject_id), { }, { class: "form-control" } %>  
      </div>
      <div class="checkbox">
        <label><%= f.check_box :show %>Anzeigen</label>           
      </div>
     <div class="form-group">
         <%= f.submit class: 'btn btn-primary' %>
    </div>
    <% end %> 
  </div>
</div>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Admin erstellen</h3>
    </div>
    <div class="panel-body">
      <%= render 'admins/form' %>
    </div>
  </div>
</div>