<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading" style="height: 54px">
      Partner
        <%= form_tag '', class: "pull-right col-xs-4", :method => :get do %>
          <div class="input-group">
            <%= text_field_tag 'name', params[:name], class: 'form-control', placeholder: 'Neuen Partner suchen', length: 5 %>
            <span class="input-group-btn">
              <%= submit_tag "Suchen", class: "btn btn-default", name: nil %>
            </span>  
          </div>
        <% end %>
    </div>
    <% if @possible_partners.any? then %>
        <div class="list-group">
          <% @possible_partners.each do |p| %>
            <li class="list-group-item">
              <strong><%= p.name %></strong>, <%= Field.find("#{p.field_id}").name if p.field_id != 0 %>
              <strong>Inhaber:</strong> <%= p.inhaber %>  
              <strong>Adresse:</strong> <%= p.adresse %>, <%= p.stadt %>
              <div class="pull-right"><%= link_to "Hinzufügen", attach_partner_url(p), method: :post, action: :attach %></div>
            </li>
          <% end %>
        </div>
    <% end %>
    <div class="panel-body">
      <% @partners.each do |p| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-8" style="padding: 0 0;">
              <h3 style="margin: 0 0 10px 0;"><%= p.name %>, <small><%= Field.find("#{p.field_id}").name if p.field_id != 0 %></small></h3>
              <p style="margin-bottom: 0px">
                <strong>Inhaber:</strong> <%= p.inhaber %>  
                <strong>Adresse:</strong> <%= p.adresse %>, <%= p.stadt %>
              </p>
            </div>
            <div class="pull-right">
              <%= link_to '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'.html_safe, detach_partner_path(@user, p), method: :delete %>
            </div>
          </div>
        </div>     
      <% end %>
    </div>
  </div>
</div>