<%= render 'shared/header' %>
<%= render 'shared/messages' %>
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="tab" href="#home">Anfragen</a></li>
        <li><a data-toggle="tab" href="#menu1">Öffentliche Anfragen</a></li>
        <li>
        </li>
      </ul>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th>Nachricht</th>
              <th>Leistungen</th>
              <th>Email-Adresse</th>
              <th>Adresse</th>
              <th>Erstellt vor:</th>
            </thead>
            <tbody>
              <% if @inquieries.any? then %>
                <% @inquieries.each do |t| %>
                  <tr>
                    <td class="col-xs-1"><%= t.vorname if t.vorname %> <%= t.nachname %></td>
                    <td class="col-xs-5"><%= truncate(t.nachricht, :length => 80) %></td>
                    <td class="col-xs-2">                    
                      <% t.services.each do |s| %>
                        <span class="label label-success"><%= s.name %></span>
                      <% end %>
                    </td>
                    <td class="col-xs-1"><%= link_to "#{t.email}", "mailto:#{t.email}" %></td>
                    <td class="col-xs-2"><%= t.adresse %>, <%= t.plz %> <%= t.stadt %></td>
                    <td class="col-xs-1"><%= time_ago_in_words(t.created_at) %></td>
                    <td></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>  
         </table>
        </div>
        <div id="menu1" class="tab-pane fade">
          <table class="table table-hover">
            <thead>
              <th>Name</th>
              <th>Nachricht</th>
              <th>Leistungen</th>
              <th>Email-Adresse</th>
              <th>Adresse</th>
              <th>Erstellt vor:</th>
            </thead>
            <tbody>
              <% if @public_inquieries.any? then %>
                <% @public_inquieries.each do |t| %>
                  <% if t.users.empty? && t.plz == current_user.plz && t.email != nil %>
                    <tr>
                      <td class="col-xs-1"><%= t.vorname if t.vorname %> <%= t.nachname %></td>
                      <td class="col-xs-5"><%= t.nachricht %></td>
                      <td class="col-xs-2">                    
                        <% t.services.each do |s| %>
                          <span class="label label-success"><%= s.name %></span> 
                        <% end %>
                      </td>
                      <td class="col-xs-1"><%= t.email %></td>
                      <td class="col-xs-1"><%= t.plz %></td>
                      <td class="col-xs-1"><%= time_ago_in_words(t.created_at) %></td>
                      <td></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>  
         </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'partners' %>