<%= render 'shared/errors', obj: @user %>

<%= render 'shared/messages' %>

<h1 >Jetzt kostenlosen Akkount erstellen</h1>
  <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <div class="form-group">
      <label class="control-label">Betriebsname</label>
        <%= f.text_field :name, class: "form-control", placeholder: "Name des Betriebes"%>
    </div>
    <div class="form-group">
      <label class="control-label">Geschäftsführer</label>
        <%= f.text_field :inhaber, class: "form-control", placeholder: "Geschäftsführer"%>
    </div>  
    <div class="form-group">
      <label for="email" class="control-label">Email Adresse</label>
        <%= f.email_field :email, class: "form-control", placeholder: "info@beispiel.de"%>
    </div>  
    <div class="form-group">
      <label for="url" class="control-label">Webseite</label>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">http://</span><%= f.text_field :url, class: "form-control", placeholder: "www.beispielseite.de", aria_describedby: "basic-addon3" %>
      </div>
    </div>
    <div class="form-group">
      <label for="telefon" class="control-label">Telefon Nummer</label>
        <%= f.phone_field :telefon, class: "form-control", placeholder: "0123456789"%>      
    </div> 
    <div class="form-group">
      <label class="control-label">Straße, Hausnummer</label>
        <%= f.phone_field :adresse, class: "form-control", placeholder: "Hauptstraße 1"%>     
    </div> 
    <div class="form-group">
      <label for="plz" class="control-label">PLZ, Ort</label>
      <div>
        <div class="col-md-2">
          <%= f.text_field :plz, class: "form-control", placeholder: "67275"%>
        </div>      
        <div class="col-md-10">
          <%= f.text_field :stadt, class: "form-control", placeholder: "Ettlingen"%>
        </div>        
      </div>
    </div>   
    <div class="form-group">
      <label class="control-label">Neues Passwort</label>
        <%= f.password_field :password, class: "form-control" %>  
    </div> 
    <div class="form-group">
      <label class="control-label">Branche</label>
      <%= f.select :field_id, options_for_select(Field.all.map{|i| [i.name, i.id]}, selected: f.object.field_id) %>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox"> <%= link_to "AGB's", "#" %> akzeptieren
        </label>
      </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Sign in</button
    </div>
  <% end %>

