<div class="col-md-12" style="height: 100%">
  <div class="container">
  <% if @inquiery then %>
  <div class="col-sm-12 d-print-none" style="margin-bottom: 20px">
    <h3 style="display: inline"><%= link_to '<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>'.html_safe, dashboard_inquieries_path, style: "color: #b7c0cd" %></h3>
    <div class="pull-right">
      <h3 style="display: inline; padding-right: 10px; color: grey">
        <%= link_to '<i class="fa fa-share"></i>'.html_safe, "mailto:#{@inquiery.email}", style: "color: #b7c0cd" %>
        <%= link_to '<i class="fa fa-print"></i>'.html_safe, "#", onclick: "window.print()", style: "color: #b7c0cd" %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, detach_user_url(@inquiery.id, @user.id), method: 'delete', style: "color: #b7c0cd" %>
        <%= link_to '<i class="fa fa-file"></i>'.html_safe, "#", style: "color: #b7c0cd" %>
      </h3>
    </div>
  </div>
  <div class="col-sm-12">
    <h3 class="d-print-none"><small><%= @inquiery.vorname if @inquiery.vorname %> <%= @inquiery.nachname %> - vor <%= time_ago_in_words(@inquiery.created_at) %> erstellt</small></h3>
    <h3 class="d-print-block"><small><%= @inquiery.vorname if @inquiery.vorname %> <%= @inquiery.nachname %> - <%= time_tag(@inquiery.created_at) %></small></h3>
    <h1 style="margin: 5px 0 5px 0"><%= @inquiery.title %></h1>
    <div style="margin-bottom: 15px">
      <% @inquiery.services.each do |s| %>
        <div class="btn btn-default btn-sm"><%= s.name %></div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-4 pull-right">
    <div class="panel panel-default">
      <table class="table">
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <%= @inquiery.vorname if @inquiery.vorname %> <%= @inquiery.nachname %>
          </td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-home" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <%= @inquiery.adresse if @inquiery.adresse %> <%= @inquiery.plz %> <%= @inquiery.stadt %>
          </td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <%= link_to @inquiery.email, "mailto:#{@inquiery.email}" %>
          </td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <!-- @inquiery.telefon if @inquiery.telefon !-->
          </td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-time" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <%= @inquiery.period %>
          </td>
        </tr>
        <tr>
          <td class="col-xs-1">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="color: #337ab7"></span>
          </td>
          <td class="col-xs-11" style="text-align: right">
            <% @inquiery.users.each do |hw| %>
              <% if hw.id != @user.id then %>
                <%= hw.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-sm-8">
    <p style="text-align: justify"><%= @inquiery.nachricht %></p>
  </div>
<% end %>    
</div>
</div>