<div class="container-fluid">
  <div class="row u-mb-large">
      <div class="col-md-12">
          <div class="c-table-responsive@tablet">
              <table class="c-table c-table--highlight u-mb-small" id="datatable">
                  <caption class="c-table__title">
                      Nachrichten
                      <small><%= @inquieries.count %> Anfragen</small>
                  </caption>
                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                          <th class="c-table__cell c-table__cell--head">Name</th>
                          <th class="c-table__cell c-table__cell--head">Betreff</th>
                          <th class="c-table__cell c-table__cell--head">Nachricht</th>
                          <th class="c-table__cell c-table__cell--head">Erstellt  </th>
                          <th class="c-table__cell c-table__cell--head">
                              <span class="u-hidden-visually">Actions</span>
                          </th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @inquieries.each do |t| %>
                      <tr class="c-table__row">
                          <td class="c-table__cell" onclick="window.location='/dashboard/inquieries/<%= t.id %>';"><%= t.vorname if t.vorname %> <%= t.nachname %></td>
                          <td class="c-table__cell" onclick="window.location='/dashboard/inquieries/<%= t.id %>';"><%= t.title %></td>
                        <td class="c-table__cell" onclick="window.location='/dashboard/inquieries/<%= t.id %>';"><span class="u-text-mute"><%= truncate(t.nachricht, :length => 50) %></span></td>
                        <td class="c-table__cell" onclick="window.location='/dashboard/inquieries/<%= t.id %>';"><span class="u-text-mute"><%= time_ago_in_words(t.created_at) %></span></td>
                        <td class="c-table__cell u-text-right">
                          <div class="c-dropdown dropdown">
                            <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktion</button>
                            <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton10">
                              <a class="c-dropdown__item dropdown-item" onclick="window.location='/dashboard/inquieries/<%= t.id %>';">Anzeigen</a>
                              <a class="c-dropdown__item dropdown-item" href="mailto:<%= t.email %>">Email senden</a>
                              <%= link_to 'Löschen', detach_user_url(t.id, @user.id), class: "c-dropdown__item dropdown-item", method: 'delete' %>
                            </div>
                          </div>
                        </td>
                      </tr><!-- // .table__row -->
                    <% end %>
                  </tbody>
              </table>
          </div><!-- // .c-card -->
      </div>
  </div>
</div>