<div class="container-fluid">
  <div class="row u-mb-large">
      <%= render 'partners_search' %>
      <div class="col-lg-9 order-lg-1">
          <div class="c-table">
              <table class="c-table c-table--highlight u-mb-small">

                  <caption class="c-table__title">
                      Ihre Partner <small><%= @partners.count %> Partner</small>
                  </caption>

                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">Betrieb</th>
                        <th class="c-table__cell c-table__cell--head">Inhaber</th>
                        <th class="c-table__cell c-table__cell--head">Adresse</th>
                        <th class="c-table__cell c-table__cell--head">
                            <span class="u-hidden-visually">Actions</span>
                        </th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @partners.each do |p| %>
                      <tr class="c-table__row">
                          <td class="c-table__cell"><%= p.name %>
                              <small class="u-block u-text-mute"><%= Field.find("#{p.field_id}").name if p.field_id != 0 %></small>
                          </td>

                          <td class="c-table__cell">
                              <div class="o-media">
                                  <div class="o-media__body">
                                    <%= p.inhaber %>
                                    <small class="u-block u-hidden-visually">Inhaber</small>  
                                  </div>
                              </div>
                          </td>

                          <td class="c-table__cell"><%= p.adresse %>
                              <small class="u-block u-text-mute"><%= p.plz %> <%= p.stadt %></small>
                          </td>

                          <td class="c-table__cell u-text-right">
                              <div class="c-dropdown dropdown">
                                  <button class="c-btn c-btn--secondary has-dropdown dropdown-toggle" id="dropdownMenuButton27" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen</button>

                                  <div class="c-dropdown__menu dropdown-menu" aria-labelledby="dropdownMenuButton27">
                                      <a class="c-dropdown__item dropdown-item" href="mailto:<%= p.email %>">Email senden</a>
                                      <%= link_to 'Verbindung beenden', detach_partner_path(@user, p), class: "c-dropdown__item dropdown-item", method: :delete %>
                                  </div>
                              </div>
                          </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
                