<div class="container-fluid">
  <div class="row u-mb-large">
      <%= render 'partners_search' %>
      <div class="col-lg-9 order-lg-1">
          <div class="c-table-responsive@desktop">
              <table class="c-table c-table--highlight u-mb-small" id="datatable">

                  <caption class="c-table__title">
                      Mögliche Partner <small><%= @partners.count %> Partner</small>
                  </caption>

                  <thead class="c-table__head c-table__head--slim">
                      <tr class="c-table__row">
                        <th class="c-table__cell c-table__cell--head">Betrieb</th>
                        <th class="c-table__cell c-table__cell--head">Inhaber</th>
                        <th class="c-table__cell c-table__cell--head">Adresse</th>
                        <th class="c-table__cell c-table__cell--head">
                            <span class="u-hidden-visually">Actions</span>
                        </th>
                      </tr>
                  </thead>

                  <tbody>
                    <% @partners.each do |p| %>
                      <tr class="c-table__row">
                          <td class="c-table__cell"><%= p.name %>
                              <small class="u-block u-text-mute"><%= Field.find("#{p.field_id}").name if p.field_id != 0 %></small>
                          </td>

                          <td class="c-table__cell">
                              <div class="o-media">
                                  <div class="o-media__body">
                                    <%= p.inhaber %>
                                    <small class="u-block u-hidden-visually">Inhaber</small>  
                                  </div>
                              </div>
                          </td>

                          <td class="c-table__cell"><%= p.adresse %>
                              <small class="u-block u-text-mute"><%= p.plz %> <%= p.stadt %></small>
                          </td>

                          <td class="c-table__cell u-text-right">
                            <%= link_to attach_partner_url(p), class: 'c-btn c-btn--info u-mr-xsmall', method: :post, action: :attach do %>
                              <i class="fa fa-plus u-mr-xsmall"></i> Hinzufügen
                            <% end %>
                          </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
      </div>
</div>
