<div class="bg">
  <header class="header">
    <%= image_tag("logo-white.png", :alt => "Handwerk24", :class => "logo") %>
    <% if logged_in_user? then %>
      <%= link_to "Profil", dashboard_path, class: "buttonstyle1"%>
    <% else %>
      <%= link_to "Handwerker?", signup_path, class: "buttonstyle1"%>
    <% end %>
    <div id="nav-icon1">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
</header>
  <div class="overlay">
    <h1><%= @overlay %></h1>
    <button class="buttonstyle3">
      Mehr erfahren
    </button>
  </div>
  <div class="categoryContainer" style="max-height: 400px; overflow-y: scroll;">
    <% @categories.each do |c| %>
      <label class="category-text" style="color: black"><%= c.name %></label>
      <% ServiceSubcategory.where(service_category_id: c.id).each do |s| %>
        <a class="category" href="/suche?category=<%= s.id %>">
          <div class="category-inner">
            <%= image_tag("category#{s.id}.png", :alt => "#{s.name}", :class => "category-img") %>
            <label class="category-text"><%= s.name %></label>
          </div>
          <%= image_tag("arrow-right.png", :alt => "Pfeil", :class => "arrow-right") %>
        </a>
      <% end %>
    <% end %>
  </div>
  <div class="footer">
    <a class="footer-link" href="#">Impressum</a>
    <a class="footer-link" href="#">Copyright Leon Dahmer 2018</a>
  </div>
</div>